.bet-button {
    display: inline-flex;
    height: 50px;
    width: 70px;
    border : 0;
    border-radius: 12px;
    margin: 20px 20px 20px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background: white;
  }

  .bet-button:hover {
      background: white;
      border : 0;
  }
  
  .arrow-icon {
    width: 100%;
    height: 100%;
    left: 0px;
    position: absolute;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .35s ease-Out;
    bottom: 0;
    text-decoration: none;
    color: #430069;
    background: white;
  }

  .bet-text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    left: -200px;
    bottom: 0;
    transition: all .35s ease-Out;
    text-decoration: none;
    color: white;
    background: #430069;
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .bet-button:hover .bet-text {
    left: 0;
  }
  
  .bet-button:hover .arrow-icon {
    left: 150px;
  }