.game-item {
    text-align:center;
    border: solid black 2px;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 0px;
    background-color: white;
    position:relative;
}

.game-score {
    font-size: 3em;
}

.game-col-title {
    font-size: 1.5em;
}

.game-vertical-align p {
    margin: 0;
}

.game-vertical-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game-bet-icon {
    color: black;
}

.game-corner-button {
    position: absolute;
    left: -2px;
    top: -2px;
    padding: 3px;

    text-align:center;
    border: 2px solid transparent;
    border-right-color: black;
    border-bottom-color: black;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 10px;

    background-color: transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.game-corner-button:hover {
    background-color: #212529;
    border-color: #212529;
}

.game-corner-button svg {
    transition: color .15s ease-in-out;
    color: black;
}

.game-corner-button:hover svg {
    color: white;
}

.game-item-more {
    color: black;
    text-decoration: none;
}