.game-item {
    text-align:center;
    border: solid black 2px;
    border-radius: 10px;
    
    padding: 10px 0px;
    margin: 15px 0px;
    background-color: white;
}

.game-score {
    font-size: 3em;
}

.game-col-title {
    font-size: 1.5em;
}

.game-vertical-align p {
    margin: 0;
}

.game-vertical-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
}